<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>User Index</title>
  </head>
  <body>
    <h1>Users</h1>
    {{#each users as |user|}}
    <div>
        <img src="/public/profilepics/{{user.username}}_sm.png" alt="">
        <a href="/{{user.username}}">{{user.name.full}}</a>
    </div>
    {{/each}}
  </body>
</html>